nav {
    height: 50px;
    margin-top: 2px;
    padding-left: 30px;
    background-color: #cfcfcf;
    display: flex;
    align-items: center;
    color: #000000;
}

#date-box {
    font-family: 'Velino Sans Book';
    font-size: 12px;
    height: 30px;
    padding-right: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: right;
}

#logo-box {
    height: 50px;
    /* width: 70px; */
    /* margin: 20px; */
    padding: 0px 30px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: left;
}

#menu {
    height: 20px;
}

#logo-header {
    height: 30px;
    margin-left: 30px;
}

#suscribite {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #cc001b;
    font-family: 'Velino Sans Book';
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}

nav {
    font: 23px 'Velino Headline Book';
}

section {
    padding: 30px;
}

h1 {
    font: 46px 'Velino Text Book';
    line-height: 48px;
    margin-bottom: 45px;
}

h2 {
    font: 22px 'Velino Text Book';
    color: #888888;
    line-height: 24px;
    margin-bottom: 45px;
}

figure h2 {
    font: 26px 'Velino Text Book';
    color: #000000;
    line-height: 31px;
    margin-bottom: 20px;
}

p {
    font: 22px 'Velino Display Light';
    line-height: 31px;
    margin-bottom: 45px;
}

h2 a {
    font: 22px 'Velino Headline Book';
    color: #d80026;
    line-height: 24px;
    text-decoration: none;
}

strong {
    font-family: 'Velino Display Book';
}

h2 a::before {
    content: "•";
    display: inline-block;
    transform: scale(2);
    margin-right: 10px;
    padding-bottom: 6px;
}

hr {
    border: inherit;
}

hr.double::before {
    content: "";
    background: #d1d1d1;
    display: block;
    height: 1px;
    width: 100%;
    margin: 3px 0;
}

hr.double::after {
    content: "";
    background: #d1d1d1;
    display: block;
    height: 1px;
    width: 100%;
    margin: 3px 0;
}

figure img {
    width: 600px;
}

figure {
    margin-bottom: 45px;
}

figcaption {
    font-family: 'Velino Sans Book';
    font-weight: bold;
    font-size: 15px;
    margin-top: 3px;
}

footer {
    height: 100px;
    text-align: left;
}

#logo-footer {
    height: 30px;
    margin: 30px 30px 0px 30px;
}

#articulo-original::before {
    content: "»";
    display: inline-block;
    transform: scale(1.2);
    margin-right: 10px;
    padding-bottom: 6px;
}

#articulo-original {
    text-decoration: none;
    font: 18px 'Velino Text Book';
    color: #888888;
    padding: 15px 30px 30px 30px;;
}

#copyright {
    display: block;
    text-align: right;
    margin-right: 30px;
    font-family: 'Velino Sans Book';
    font-size: 12px;
    color: #cc001b
}